<div class="container">

  <div class="form-group">
    <h4>Add todo</h4>
    <input class="form-control" type="text" (keyup.enter)="addTodo()" name="new-todo" id="new-todo"
      [(ngModel)]="newTodo" placeholder="Enter new todo">
  </div>

  <h4>List of todos</h4>
  <ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
      <div class="row">
        <p class="col-2">{{ todo }}</p>
        <button class="btn btn-danger"  (click)="removeTodo(todo)" >x</button>
      </div>
    </li>
  </ul>
</div>
